/* Main Setting */

body {
    font-family: 'Malgun Gothic', sans-serif;
    background-color: #f8f8f8;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none;
}

a {
    color: #999;
}

.cay-login-main-wrap {
    max-width: 1200px;
    min-width: 1000px;
    height: 100%;
    margin: auto;
}

/* footer */
.cay-footer {
    height: 30%;
    margin: auto;
    padding: 50px 0;
    color: #999;
    text-align: center;
}

/* Main */

/* login */
.cay-login-container {
    margin: auto;
    display: flex;
}

.cay-login-content {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.cay-login-wrap {
    position: relative;
    width: 550px;
    height: 700px;
    margin: 100px auto 100px auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.error-message {
    position: absolute;
    top: -90px;
    width: 30rem;
    height: 2rem;
    margin: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #FB4357;
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(1px);
    }
    80% {
        transform: translateX(3px);
    }
}

.cay-login-wrap > h2 {
    margin: 3.5rem 0 3.5rem;
    font-size: 2.5rem;
    color: #666;
}

.cay-login-wrap > h2 > div {
    margin-top: 0.25rem;
    font-size: 1.5rem;
}

.cay-login-section {
    margin: 0.5rem 0;
}


.cay-login-col1 {
    margin: 1rem;
}

.cay-login-col1 > input {
    width: 20rem;
    height: 4.5rem;
    padding: 1.5rem;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: #575757;
    background-color: #efefef;
}

.cay-login-col2 {
    padding: 1.5rem;
}

.cay-login-col2 > button {
    width: 9rem;
    height: 3.5rem;
    margin: 0.5rem 0.5rem;
    border: 2px solid #FB4357;
    border-radius: 45px;
    font-size: 18px;
    color: #FB4357;
    background-color: white;
}

.cay-login-col2 > button:hover {
    color: white;
    transition: ease-in-out 0.3s;
    background-color: #FB4357;
}

/* Join */
.cay-join-container {
    margin: auto;
    display: flex;
}

.cay-join-content {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.cay-join-content > h1 {
    width: 200px;
    margin: 2rem auto 1rem;
    font-size: 3rem;
    border-bottom: 4px solid;
    color: #FB4357;
}

.cay-join-process {
    width: 35rem;
    margin: auto;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;
}

.cay-join-process-step {
    display: flex;
    justify-content: space-between;
}

.cay-join-process-step > div {
    font-size: 2rem;
    font-weight: bolder;
}

.cay-join-process-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.cay-join-process-bar > div:nth-child(1),
.cay-join-process-bar > div:nth-child(3),
.cay-join-process-bar > div:nth-child(5) {
    width: 2rem;
    margin: 1rem 2rem 0;
    border: 5px solid #FB4357;
    border-radius: 50%;
    background-color: white;
}

.cay-join-process-bar > div:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 10rem;
    height: 0;
    border: 3px solid #FB4357;
}

.cay-join-process-bar > div:nth-child(4) {
    position: absolute;
    top: 30px;
    left: 245px;
    width: 10rem;
    height: 0;
    border: 3px solid #FB4357;
}


.cay-join-process-txt {
    display: flex;
    justify-content: space-between;
}

.cay-join-process-txt > div:nth-child(1) {
    width: 6rem;
    margin: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: bolder;
}

.cay-join-process-txt > div:nth-child(2) {
    width: 6rem;
    margin: 0.5rem 0rem;
    font-size: 1.25rem;
    font-weight: bolder;
}

.cay-join-process-txt > div:nth-child(3) {
    width: 6rem;
    margin: 0.5rem 0rem;
    font-size: 1.25rem;
    font-weight: bolder;
}

.cay-join-wrap {
    position: relative;
    width: 700px;
    margin: 1rem auto 10rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.cay-join-wrap input {
    width: 32.5rem;
    height: 2rem;
    margin: 0.5rem 0 1rem;
    padding: 1.5rem;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: #575757;
    background-color: #efefef;
}

.cay-join-wrap button {
    width: 15rem;
    height: 3.5rem;
    margin: 3.5rem 0.5rem 1rem;
    border: 2px solid #FB4357;
    border-radius: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #FB4357;
    background-color: white;
}

.cay-join-wrap button:hover {
    color: white;
    transition: ease-in-out 0.3s;
    background-color: #FB4357;
}

.cay-join-wrap > div {
    margin: 3rem 0;
}

.cay-join-wrap > div:first-child {
    position: absolute;
    top: -100px;
    left: 215px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FB4357;
    animation: shake 0.5s;
}

.cay-join-wrap > div:nth-child(2) {
    width: 15rem;
    margin: 3rem auto;
    padding: 0.75rem;
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 5px solid #FB4357;
    color: #FB4357;
}

.cay-join-wrap > div > div:nth-child(1) {
    margin: 1rem 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
}

.cay-join-wrap > div > div:nth-child(3),
.cay-join-wrap > div > div:nth-child(4),
.cay-join-wrap > div > div:nth-child(5) {
    margin: 0 3.5rem;
    font-size: 0.85rem;
    color: #666;
    text-align: start;
}

.cay-join-wrap > div > div:nth-child(3) > span,
.cay-join-wrap > div > div:nth-child(4) > span {
    font-weight: bold;
    color: #FB4357;
}

/* Join Complete */

.cay-joinComplete-wrap {
    position: relative;
    width: 700px;
    margin: 5rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.cay-joinComplete-wrap > div:nth-child(1) {
    width: 17.5rem;
    margin: 2rem auto;
    padding: 0.5rem;
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 5px solid #FB4357;
    color: #FB4357;
}

.cay-joinComplete-wrap > div:nth-child(2) {
    margin: 3rem auto 0;
    font-size: 2rem;
    font-weight: bolder;
}

.cay-joinComplete-wrap button {
    width: 30rem;
    height: 3.5rem;
    margin: 2rem auto 4.5rem;
    border: 2px solid #FB4357;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #FB4357;
}

/* My Page Main */

.cay-myPage-container {
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
    margin: 1rem auto;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.cay-myPage-aside {
    width: 250px;
    height: 50%;
    margin: 1rem 0.5rem 1rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cay-myPage-aside > div:nth-child(1) {
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    font-size: 2rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #FB4357;
    text-align: center;
}

.cay-myPage-aside > ul > li {
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.cay-myPage-aside > ul > li > ul {
    padding: 1rem;
    display: block;
}

.cay-myPage-aside > ul > li > ul > li {
    padding: 0.5rem;
}

.cay-myPage-aside > div:nth-child(1) > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.cay-myPage-aside ul > li > a,
.cay-myPage-aside ul > li > ul > li > a {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.1s ease;
    color: #333;
    position: relative;
}

.cay-myPage-aside > ul > li > ul > li > a {
    font-size: 1rem !important;
}

.cay-myPage-aside ul > li > a:hover,
.cay-myPage-aside ul > li > ul > li > a:hover {
    color: #FB4357;
}

.cay-myPage-aside ul > li > a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FB4357;
    transition: width 0.1s ease;
}

.cay-myPage-aside ul > li > a:hover:after {
    width: 100%;
}

.cay-myPage-content {
    width: 950px;
    height: 90%;
    border-radius: 8px;
}

/* My page - Home */

.cay-myPage-home {
    width: 90%;
    height: 90%;
    margin: 1rem auto;
}

.cay-myPage-top {
    width: 97.5%;
    padding: 1.5rem;
    margin: 1rem auto;
    border-left: 4px solid #FB4357;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
}

.cay-myPage-top > div:nth-child(1) {
    width: 24.5%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 2.5rem;
    border-radius: 8px;
    border: 2px solid #FB4357;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.cay-myPage-top > div:nth-child(2) {
    width: 65%;
    margin: auto 1rem !important;
    padding: 0.5rem !important;
}

.cay-myPage-top > div:nth-child(2) h1 {
    font-size: 2rem !important;
}

.cay-myPage-top > div:nth-child(2) a {
    font-size: 1rem !important;
    color: #999;
    text-align: start;
}

.cay-myPage-top > div:nth-child(2) > div:nth-child(1) {
    margin-bottom: 0.5rem;
}

.cay-myPage-top > div:nth-child(3) {
    margin: auto 1rem;
    padding: 0.5rem;
}

.cay-myPage-top > div:nth-child(3) {
    margin: auto 1rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.cay-myPage-top > div:nth-child(3) > div {
    margin: auto 2.5rem;
}

#point-ctn, #membership-ctn {
    font-size: 2rem;
    color: #FB4357;
}

.cay-myPage-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cay-myPage-bottom > div {
    width: 47.5%;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cay-myPage-bottom > div > h1 {
    padding: 15px 20px;
    font-size: 1.25rem;
    border-top: solid 4px #FB4357;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cay-myPage-bottom a {
    color: black;
    text-decoration: none;
}

.cay-myPage-bottom > div > div:nth-child(2),
.cay-myPage-bottom > div > div:nth-child(3) {
    width: 95%;
    padding: 1.5rem;
    margin: auto;
    border-top: 2px solid;
    display: flex;
}

/* Home History */

.cay-myPage-history > div:nth-child(2) {
    padding: 1.5rem;
    text-align: center;
}

.cay-myPage-history a {
    width: 33%;
}

.cay-myPage-history a > span {;
    font-size: 2rem;
    color: #FB4357;
}

.cay-myPage-history a > div {;
    font-weight: bold;
    margin-top: 1rem;
}

/* Home Genre */

.cay-myPage-genre > div:nth-child(2) {
    padding: 1.5rem;
}

.cay-myPage-genre > div > a {
    display: flex;
    flex-wrap: wrap;
}

.cay-myPage-genre > div > a > div {
    margin: 0.25rem;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #FB4357;
    color: white;
}

.cay-myPage-order,
.cay-myPage-event,
.cay-myPage-reward {
    width: 97.5% !important;
}

/* Home Order */

.cay-myPage-order > div:nth-child(2) {
    display: block !important;
}

.cay-myPage-order > div:nth-child(2) > div > div {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    display: flex;
}

.cay-myPage-order-img {
    margin: auto 1rem;
}

.cay-myPage-order-img img {
    width: 100px;
}

.cay-myPage-order-info {
    width: 85%;
    padding: 1rem;
    display: block;
}

.cay-myPage-order-top {
    margin: 0.5rem 0 2rem;
    display: flex;
    justify-content: space-between;
}

.cay-myPage-order-button {
    width: 4.5rem;
    height: 1.5rem;
    border: 2px solid #FB4357;
    border-radius: 45px;
    font-size: 14px;
    font-weight: bolder;
    color: #FB4357;
    background-color: white;
}

.cay-myPage-order-button:hover {
    color: white;
    background-color: #FB4357;
}

.cay-myPage-order-bottom > div {
    margin: 0.5rem 0;
}

.cay-myPage-order-bottom > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

/* Home Reward */

.cay-myPage-reward h4 {
    margin: 0.5rem auto;
}

.cay-myPage-reward > div:nth-child(2),
.cay-myPage-reward > div:nth-child(3) {
    display: block !important;
}

.cay-myPage-reward-table {
    width: 100%;
    border-collapse: collapse;
}

.cay-myPage-reward-table tr {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.cay-myPage-reward-table td {
    padding: 1.5rem;
}

.cay-myPage-reward-table td:first-child {
    width: 40%;
    border-right: 1px solid #333333;
}

.cay-myPage-reward-table td:last-child {
    width: 60%;
}

/* My Page - Profile */
.cay-myPage-wrap {
    position: relative;
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    border-top: 4px solid #FB4357;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.cay-myPage-wrap > div:nth-child(1) {
    width: 80%;
    margin: auto;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 2px solid black;
    color: #FB4357;
}

.cay-myPage-wrap form:first-child {
    padding: 3rem;
}

.cay-myPage-wrap form >
div:nth-child(1) {
    position: relative;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.cay-myPage-errorMessage {
    position: absolute;
    top: 25px;
    color: #FB4357;
    font-size: 2rem;
    font-weight: bold;
    animation: shake 0.5s;
}

.cay-myPage-wrap > form:nth-child(2) > div {
    padding: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.cay-myPage-wrap input {
    width: 30rem;
    height: 4.5rem;
    padding: 1.5rem;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: #575757;
    background-color: #efefef;
}

.cay-myPage-wrap button {
    width: 15rem;
    height: 3.5rem;
    margin: 3rem 0.5rem;
    border: 2px solid #FB4357;
    border-radius: 45px;
    font-size: 18px;
    font-weight: bold;
    color: #FB4357;
    background-color: white;
}

.cay-myPage-wrap button:hover {
    color: white;
    transition: ease-in-out 0.3s;
    background-color: #FB4357;
}

.cay-myPage-wrap h1 {
    padding: 1.5rem;
    font-size: 1.5rem;
    text-align: start;
}

.cay-myPage-wrap form:last-child {
    margin: 0 auto;
}

.cay-update-btn {
    border-radius: 8px !important;
    width: 80% !important;
    margin-top: 3rem;
    margin-bottom: 2rem !important;
}

.cay-delete-btn {
    border-radius: 8px !important;
    width: 75% !important;
    margin-top: 1rem !important;
}

.cay-myPage-wrap h2 {
    padding: 3rem;
    color: #FB4357;
    text-align: center;
}

.cay-myPage-wrap h3 {
    padding: 3rem;
    text-align: center;
}

.cay-myPage-wrap p {
    margin: 3rem auto;
    font-size: 1.25rem;
}

.chk-btn {
    width: 1rem !important;
    height: 1rem !important;
}

/* My Page - Delete Complete */

.cay-deleteComplete-container {
    margin: auto;
    display: flex;
}

.cay-deleteComplete-content {
    position: relative;
    width: 600px;
    height: 300px;
    margin: 100px auto 100px auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: white;
    text-align: center;
}

.cay-deleteComplete-content h1 {
    margin: 2.5rem auto 2rem;
    font-size: 2rem;
}

.cay-deleteComplete-content button {
    width: 9rem;
    height: 3.5rem;
    margin: 0.5rem 0.5rem;
    border: 2px solid #FB4357;
    border-radius: 45px;
    font-size: 18px;
    color: #FB4357;
    background-color: white;
}

.cay-deleteComplete-content button:hover {
    color: white;
    transition: ease-in-out 0.3s;
    background-color: #FB4357;
}

/* My Page - tabs */

.cay-myPage-tabs {
    width: 80%;
    margin: 3rem auto;
    padding-bottom: 40px;
    border-radius: 8px;
    text-align: center;
}

.tab_items {
    width: 33%;
    border-top: 3.5px solid #FB4357;
    border-bottom: 3.5px solid #FB4357;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #FB4357;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_items > div {
    width: 80%;
    height: 80%;
    margin: 0.5rem auto;
    font-size: 1.25rem;
    border-radius: 8px;
}

.tab_items:hover {
    background-color: white;
}

.cay-myPage-tabs > input {
    display: none;
}

.cay-myPage-tabs-content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
    text-align: start;
}

#watch:checked ~ #watch_content,
#review:checked ~ #review_content,
#wishlist:checked ~ #wishlist_content {
    display: block;
}

#ongoing:checked ~ #ongoing_content,
#upcoming:checked ~ #upcoming_content,
#done:checked ~ #done_content {
    display: block;
}

.cay-myPage-tab > input:checked + .tab_item {
    background-color: #333333;
    color: #fff;
}

/* My Page - My Reward */

.cay-myPage-reward > div {
    width: 80%;
    margin: 3rem auto;
    padding: 1.5rem 1rem;
    text-align: start;
}

.cay-myPage-reward > div > div:nth-child(1) {
    margin: 1rem auto 2rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid;
}

.cay-myPage-reward > div > div:nth-child(2) {
    margin: 1rem auto;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    text-align: center;
}

.cay-myPage-reward > div > div:nth-child(2) > div:hover {
    transform: scale(1.1)
}

.cay-myPage-reward > div > div:nth-child(2) > div {
    width: 50%;
    margin: 1rem;
    padding: 3rem 0;
    border-top: 4px solid #FB4357;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: block;
}

.cay-myPage-reward > div > div:nth-child(2) > div > div {
    margin: 1rem auto;
    font-size: 1.1rem;
    font-weight: bold;
}

.cay-myPage-reward > div > div:nth-child(2) > div > span {
    font-size: 3.5rem;
    color: #FB4357;
}

/* Point & Membership */

.cay-myPage-total,
.cay-myPage-point,
.cay-myPage-membership {
    width: 80%;
    margin: 3rem auto;
}

.cay-myPage-total > div:nth-child(1),
.cay-myPage-point > div:nth-child(1),
.cay-myPage-membership > div:nth-child(1){
    margin: 3rem 0;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid;
    text-align: start;
}

.cay-myPage-point-table,
.cay-myPage-membership-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.cay-myPage-total-table {
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.cay-myPage-point-total th,
.cay-myPage-point-total td,
.cay-myPage-point-table th,
.cay-myPage-point-table td,
.cay-myPage-membership-table th,
.cay-myPage-membership-table td {
    padding: 0.75rem 0;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}

.cay-myPage-total-table th,
.cay-myPage-total-table td {
    width: 50%;
    padding: 2rem 0;
    font-size: 1.25rem;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}

.cay-myPage-total-table td {
    font-size: 2rem;
    font-weight: bold;
    color: #FB4357;
}

.cay-myPage-point-table th:last-child,
.cay-myPage-membership-table th:last-child,
.cay-myPage-point-table td:last-child,
.cay-myPage-membership-table td:last-child {
    border-right: none !important;
}

.cay-myPage-total-table th:last-child,
.cay-myPage-total-table td:last-child {
    border-right: none !important;
}